*{
    margin: 0;
    padding: 0;
}
#wrapper{
    padding: 10px;
    background-color: rgb(27,48,95);
    width: 960px;
    color: rgb(190,220,240);    
}
#wrapper > * {
    border-radius: 10px;
    padding: 20px;
}
h1{
    background-color: rgb(225,0,35);
    margin-bottom: 15px;
}
#wrapper div{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;    
}
#left{
    background-color: rgb(0,128,142);
    margin-right: 15px;
    color: rgb(40,220,230);
    width: 190px;        
}
#wrapper a{
    color: rgb(40,220,230);    
}
ul li{
    margin-left: 20px;
}
ul ul li{
    margin-left: 40px;
}
#right{
    background-color: rgb(13,23,34);
    width: 675px;
}
#footer{
    background-color: rgb(93,101,116);
}
#wrapper .purple{
    color: rgb(115,90,224);
}
#right *{
    margin-bottom: 10px;
}