*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 970px;
    background-color: rgb(27,48,95);
    padding: 5px;
}
#header{
    background-color: rgb(215,38,56);
    color: rgb(191,216,235);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
#sidebar{
    background-color: rgb(0,120,134);
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    width: 160px;
    margin: 10px;
    font-size: 12px;
    vertical-align: top;
}
a{
    color: rgb(39,212,218);
}
ul li{
    margin-left: 15px;
}
ul{
    color: rgb(200,220,240);
}
#sidebar, #main_content{
    display:inline-block;
}
#main_content{
    background-color: rgb(12,24,33);
    border-radius: 10px;
    padding: 10px;
    width: 705px;
    margin: 10px;
    color: rgb(191,216,235);
    font-size: 12px;
}
h2, #main_content p, #main_content ul li{
    margin-bottom: 5px;
}
#main_content ul li{
    margin-left: 20px;
}
#footer{
    background-color: rgb(92,102,114);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: rgb(191,216,235);
    font-size: 12px;
}
span{
    color: rgb(120,120,240);
}